<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.subject.mapper.DoctorinformationMapper">
    <select id="DoctorCount" resultType="com.education.subject.entity.DoctorCount">
    SELECT
    si_name as schoolname,
    count(IF(d_grade='一级博士点',d_grade,NULL)) as first,
    count(IF(d_grade='二级博士点',d_grade,NULL)) as second,
    count(IF(d_grade='一级博士点',d_grade,NULL))+ count(IF(d_grade='二级博士点',d_grade,NULL))
    as total
    FROM
    doctorinformation
    GROUP BY
    si_name
    order by MAX(si_id) ASC
    </select>
</mapper>
