<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.subject.mapper.ScienceresultnationMapper">
    <select id="NationPrizeCount" resultType="com.education.subject.entity.Prize">
    SELECT
    si_name as schoolname,
    count(IF(st_grade='一等奖',st_grade,NULL)) as first,
    count(IF(st_grade='二等奖',st_grade,NULL)) as second,
	count(IF(st_grade='特等奖',st_grade,NULL)) as special,
	count(IF(st_grade='一等奖',st_grade,NULL))+ count(IF(st_grade='二等奖',st_grade,NULL))+count(IF(st_grade='特等奖',st_grade,NULL))
    as total
    FROM
    scienceresultnation
    where  sign = 0
    GROUP BY
    si_name
    order by MAX(si_name) ASC



    </select>
    <select id="NationPrizeCountByDate" resultType="com.education.subject.entity.Prize">
    SELECT
    si_name as schoolname,
    count(IF(st_grade='一等奖',st_grade,NULL)) as first,
    count(IF(st_grade='二等奖',st_grade,NULL)) as second,
	count(IF(st_grade='特等奖',st_grade,NULL)) as special,
	count(IF(st_grade='一等奖',st_grade,NULL))+ count(IF(st_grade='二等奖',st_grade,NULL))+count(IF(st_grade='特等奖',st_grade,NULL))
    as total
    FROM
    scienceresultnation
    where st_time BETWEEN #{startTime} AND #{endTime} AND sign = 0
    GROUP BY
    si_name
    order by MAX(si_name) ASC
    </select>
    <select id="NationPrizeCountCompare"  resultType="com.education.subject.entity.PrizeCount" >
     SELECT
    schoolname,
		GROUP_CONCAT(time ORDER BY time ASC) as Date,
    GROUP_CONCAT(first ORDER BY time ASC) as First,
    GROUP_CONCAT(second ORDER BY time ASC)as Second,
		GROUP_CONCAT(special ORDER BY time ASC)as Special,
		SUM(First+Second+Special) as total
    FROM
		count_st_nation
		WHERE time BETWEEN  #{startTime} AND #{endTime}
		GROUP BY
    schoolname
    order by MAX(schoolname) ASC
    </select>
</mapper>
